.size {
    display: grid;   
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    align-items: center;
}
.size > img {
    --width: 100px;
    width: var(--width);
    border: 5px solid transparent;
    border-radius: 50%;
}
.size--small > img {
    width: calc(var(--width) * 0.8)
}
.size--large > img {
    width: calc(var(--width) * 1.2)
}

.size--active > img{
    border: 5px solid silver;

}

